{% extends "base.html.twig" %}

{% block body %}
	<h1>Welcome bitch</h1>

	{% if age > 18 %}
		<p>tu es majeur
		</p>
	{% else %}
		<p>tu es mineur
		</p>
	{% endif %}
	<ul>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati blanditiis voluptates atque non qua
								erat laudantium excepturi, pariatur iste veniam soluta? Ipsam animi repellendus v
								oluptatum? Sint assumenda dicta ipsam. Nesciunt praesentium tempore illo assumenda
								aperiam quae, vitae eos consequatur itaque deleniti odio deserunt debitis repellendus voluptatum ullam. Officia aliquam sapiente accusamus?
	</ul>
{% endblock %}
